


.break {
    margin-top: 10px;
}


.big-box {
display: flex;
/* align-items: center; */
}

.big-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-box {
    margin-top: 10px;
    display: flex;
      /* margin: 0 auto; */

}

.resume {
     margin: 0 auto;
     border-style: solid;
     border-color: #1976d2;
}



.underline{
text-decoration:none;
color: #1976d2;
}


.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.welcome {
  font-family: monospace;
  color: #1976d2;
}

.content1 {
   max-width:100%;
max-height:100%; 
}