


.break {
    margin-top: 10px;
}


.big-box {
display: flex;
/* align-items: center; */
}

.resume-box {
    margin-top: 10px;
    display: flex;
      /* margin: 0 auto; */

}

.resume {
     margin: 0 auto;
     border-style: solid;
     border-color: #1976d2;
}


